extends layout

block head
	// BLOG

block append header
	div.blog-description!= contents

block content
	div.posts
		each post in collections.posts
			article.post
				h3.post-title
					a.permalink(href=relative(post.path))
						!= post.title
					|  
					small!= moment(post.date).format('Do MMM YYYY')
				p.post-excerpt!= post.excerpt
					a.permalink(href=relative(post.path)) Read more &rarr;
block footer
	p Blog Footer